<!DOCTYPE html>

<head>
    <link href="../css/css.css" rel="stylesheet">
    <style>
        .back{
            width: auto;
            height: 800px;
            margin-top: 8%;
            margin-left: 15%;
            margin-right: 15%;
            margin-bottom: 8%;
            background-color: rgba(255, 255, 255, 0.7);
        }
    </style>
</head>
<body>
    <div class="back">
        <div>
            <img src="../image/头像_高清.png" style="margin-top: 8%;margin-left: 8%;">
        </div>
        <div>
            <h1>A一只一只白熊A</h1>
            <p>故居广州</p>
            <p>待定</p><p>待定</p><p>待定</p>
        </div>
        <a href="./index.html" style="font-size: 50px;text-align: center;color:red">返回</a>
    </div>
</body>
</html>