<!DOCTYPE html>
<head>
    <link href="../css/css.css" rel="stylesheet">
    
</head>
<body>
    <div class="导航栏">
        <a style="margin-left: 5%;font-size: 30px; color:black" href="">我</a>
        <a style="margin-left: 15%;font-size: 30px;color:black" href="">吃</a>
        <a style="margin-left: 15%;font-size: 30px;color:black" href="./shop/page.html">超市</a>
        <a style="margin-left: 15%;font-size: 30px;color:black" href="../templates/littleGame/page.html">小功能</a>
    </div>
    </div>
    <div class="kong_high"></div>
    <div class="kong_width">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <div class="kong_width">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <div class="read" style="width: 90%;text-align: center;">
        <h1>请输入账号和密码</h1>
        
        <h3>账号名称</h3><input type="text" class="name">
        <h3>密码</h3><input type="password" class="password">
        <button class="pass_see">密码显示</button>
        <p><button class="finish">完成</button></p>
        <a href="../templates/index.html" style="color: red;"><p style="color: red;align-items: center;font-size: 50px;" class="noict"></p></a>
    </div>
    <script src="../js/login.js"></script>
    <script type="text/javascript" src="../js/jquery-1.8.3.min.js"></script>

</body>