<!DOCTYPE html>
<head>
    <link href="../../css/css.css" rel="stylesheet">
</head>
<body>
    <div id="导航栏">
        <a style="margin-left: 5%;font-size: 30px; color:black" href="">我</a>
        <a style="margin-left: 15%;font-size: 30px;color:black" href="">吃</a>
        <a style="margin-left: 15%;font-size: 30px;color:black" href="../shop/page.html">超市</a>
        <a style="margin-left: 15%;font-size: 30px;color:black" href="./page.html">小功能</a>
        <a style="margin-left: 15%;font-size: 30px;color:black" href="../登陆.html">登陆</a>
        <a href="../个人主页.html"><img src="../../image/头像.png" style="width: 25px;position: fixed;margin: auto;right: 5px;"></a>
    </div>
    
    <div  class="box" style="height: 600px;width: 70%;text-align: center;"></div>
    <div style="text-align: center;margin-left: 00%;"><p>请输入关键词</p><input style="text-align: center;" class="setu"><button class="setufinfsh">确定</button></div>
    <script src="../../js/setu.js"></script>
</body>